* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #c6c6c6;
}

header {
    background-color: #2f2f2f;
    width: 50%;
    min-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}
main {
    width: 50%;
    min-width: 400px;
    margin: 0 auto;
}
footer {
    width: 50%;
    min-width: 400px;
    margin: 0 auto;
}
nav {
    display: flex;
    flex-direction: column;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

a {
    color: #ff820e;
    font-size: 20px;
    
}
li {
    padding: 10px 0;
}

input {
    padding: 10px;
}

.property_search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 25px;
    width: 100%;
}

.property_list {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    max-width: 100%;
    gap: 10px;
    border: #ff820e 1px solid;
    border-radius: 15px;
    padding: 10px;
}

.property_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.property_img {
    width: 30%;
    border-radius: 5px;
}