<!-- rent_easy/listings/templates/listings/home.html -->
{% load static %} <!-- Загрузка статического тега -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Подключение ваших стилей -->
</head>
<body>
    <a href="{% url 'create_property' %}">Создание</a>
    <header>
        <h1>Добро пожаловать в Rent Easy!</h1>
        <nav>
            <ul>
                <li><a href="{% url 'property_list' %}">Жильё</a></li>
                <li><a href="{% url 'tenant_profile' %}">Профиль арендатора</a></li> <!-- Ссылка на профиль арендатора -->
                <li><a href="{% url 'landlord_profile' %}">Профиль арендодателя</a></li> <!-- Ссылка на профиль арендодателя -->
                <li><a href="{% url 'contacts' %}">Контакты</a></li> <!-- Ссылка на контакты -->
                <li><a href="{% url 'property_search' %}">Поиск</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>О нас</h2>
        <h3>Добро пожаловать на RentEasy – ваш надежный помощник в поиске жилья!</h3>
        <p>Мы понимаем, что поиск идеального места для жизни может быть сложной задачей. Поэтому мы создали платформу, которая упрощает этот процесс и делает его более эффективным. На [Название сайта] вы можете найти:</p></p>
        <ul>
            <li><p>Широкий выбор объектов недвижимости: от уютных студий и современных квартир до просторных домов. Мы предлагаем различные варианты, чтобы удовлетворить ваши потребности и бюджет.</p></li>
            <li><p>Интуитивно понятный интерфейс: наш сайт разработан с учетом удобства пользователя. Легко настраиваемые фильтры помогут вам быстро найти жилье по местоположению, цене, размеру и другим критериям.</p></li>
            <li><p>Актуальные объявления: мы обновляем наш каталог ежедневно, чтобы предоставить вам самые свежие предложения. С нами вы всегда будете в курсе последних новинок на рынке недвижимости.</p></li>
            <li><p>Информация о районах: каждый объект недвижимости сопровождается подробной информацией о районе: инфраструктура, транспортная доступность, школы и магазины. Мы хотим, чтобы вы чувствовали себя уверенно в своем выборе.</li>
            <li><p>Поддержка 24/7: наша команда готова помочь вам в любое время. У вас есть вопрос или нужна помощь в поиске? Свяжитесь с нами, и мы с радостью ответим на все ваши вопросы.</p></li>
        </ul>
        <p>На [Название сайта] мы стремимся сделать поиск жилья простым и приятным. Начните свое путешествие к новому дому уже сегодня!</p>
    </main>
    <footer>
        <p>&copy; 2024 Rent Easy. Все права защищены.</p>
    </footer>
</body>
</html>
