<!-- templates/property_list.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Подключение ваших стилей -->
    <title>Список недвижимости</title>
</head>
<body>
    <a href="{% url 'home' %}">Главная</a>
    <header>
        <h1>Добро пожаловать в Rent Easy!</h1>
        <nav>
            <ul>
                <li><a href="{% url 'property_list' %}">Жильё</a></li>
                <li><a href="{% url 'tenant_profile' %}">Профиль арендатора</a></li>
                <li><a href="{% url 'landlord_profile' %}">Профиль арендодателя</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                <li><a href="{% url 'property_search' %}">Поиск</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <h1>Список недвижимости</h1>
    <ul class="property_search">
        {% for property in page_obj %}
            <li class="property_list">
                {% if property.image %}
                    <img class="property_img" src="{{ property.image.url }}" alt="{{ property.title }}"/>
                {% endif %}
                <div class="property_text">
                    <h2>{{ property.title }}</h2>
                    <p>{{ property.description }}</p>
                    <p>Тип: {{ property.property_type }}</p>
                    <p>Арендодатель: {{ property.landlord.name }}</p>
                    <p>Комнат: {{ property.room_count }}</p>
                    <p>Балкон: {{ property.balcony }}</p>
                    <p>Парковка: {{ property.parking }}</p>
                    <p>WiFi: {{ property.wifi }}</p>
                    <a type="tel" href="8999999999">{{ property.landlord.phone }}</a>
                    <p>Цена: {{ property.price }} руб.</p>
                </div>
            </li>
        {% empty %}
            <li>Нет доступной недвижимости.</li>
        {% endfor %}
    </ul>
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            {% endif %}
    
            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">_

                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    
        <!-- Кнопки для перехода к страницам -->
        <div class="page-links">
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <span class="current-page">{{ i }}</span>
                {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </main>
</body>
</html>
