<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Отдельные поля формы</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label>{{ field.label_tag }}</label>
                {{ field }}
                {% if field.errors %}
                    <p style="color: red;">{{ field.errors }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Добавить жилье</button>
    </form>
</body>
</html>